/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

 /**  paleta de cores com cores como cereja e verde oliva
 
 https://paletton.com/#uid=2530u0kbKcK81kZadhuhVc9mHb0
 
 Gostei das versoes:

 dark pale pastel  (mais sofisticado e

 deep colors ( muito mais escuro)

 https://paletton.com/export/index.php 
 
 
 */

body{
    background-color: #48203D;
    /* color: #57603D; */
    color:azure;
    font-family: 'Montserrat', sans-serif;
    
}
h2.major{
        padding-bottom: 1em;
         border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}
p{
        display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
}
header {
    
}
#banner {
    padding: 5em 2em 4.25em 2em;
    margin-bottom: -2.5em;
    background-color: #445318;
}
/* section {}
article{} */

footer{
    text-align: center;

}