/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

 /**  paleta de cores com cores como cereja e verde oliva
 
 https://paletton.com/#uid=2530u0kbKcK81kZadhuhVc9mHb0
 
 Gostei das versoes:

 dark pale pastel  (mais sofisticado e

 deep colors ( muito mais escuro)

 https://paletton.com/export/index.php 
 
 
 */

body{
    background-color: #48203D;
    /* color: #57603D; */
    color:azure;
    font-family: 'Montserrat', sans-serif;
    
}
header {
    
}
section {}
article{}
footer{}